.eggs
__pycache__
.snakemake
.idea
run/
venv/
2024*
describe_workflow.rst
describe_jupyter_notebook.txt
pipeline_pool_amplicon
slurm/*.err
slurm/*.out
samples.tsv
units.tsv
.cache/
.keras/
.parallel/
2025*/
Results/
alignment/
basecalling/
logs/
prealignment/
reports/
results/
runfolder.txt
snv_indels/
tmp/
