.eggs
__pycache__
.snakemake
.idea
venv/
slurm/*.err
slurm/*.out
./samples.tsv
./units.tsv
.cache/
.keras/
.parallel/
Results/
alignment/
./basecalling/
logs/
prealignment/
reports/
results/
snv_indels/
tmp/
.tests/integration/test_data/bam_pass/