.eggs
__pycache__
.snakemake
.idea
.venv
slurm/*.err
slurm/*.out
./samples.tsv
./units.tsv
.cache/
.keras/
.parallel/
Results/
alignment/
./basecalling/
logs/
prealignment/
reports/
results/
snv_indels/
tmp/
.tests/integration/test_data/mosdepth/
workflow/scripts/plot_vcf_vaf.py
workflow/scripts/plots_eha_abstract.py
workflow/scripts/plots_eha_poster.py
workflow/scripts/pon_from_vcf.py